{% extends "main/base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Lista de PYMEs</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">CATEGORÍA</th>
                <th scope="col">DUEÑO</th>
                <th scope="col">DESCRIPCIÓN</th>
                <th scope="col">ACCIONES</th> <!-- Columna para los botones -->
            </tr>
        </thead>
        <tbody>
            {% for pyme in pymes %}
            <tr>
                <td>{{ pyme.id_PYME }}</td> <!-- Celda para el ID -->
                <td>{{ pyme.nombre }}</td> <!-- Celda para el nombre -->
                <td>{{ pyme.categoria.nombre }}</td> <!-- Celda para la categoría -->
                <td>{{ pyme.user.username }}</td> 
                <td>{{ pyme.descripcion|truncatewords:10 }}</td> <!-- Celda para la descripción truncada -->
                <td>
                    <!-- Botones de acción -->
                    <a href="{% url 'pyme_detail' pyme.id_PYME %}" class="btn btn-info btn-sm" title="Ver detalles">
                        <i class="bi bi-eye"></i> Detalles
                    </a>
                    <a href="{% url 'pyme_update' pyme.id_PYME %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="bi bi-pencil"></i> Editar
                    </a>
                    <form method="post" action="{% url 'pyme_delete' pyme.id_PYME %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" title="Eliminar">
                            <i class="bi bi-trash"></i> Eliminar
                        </button>
                    </form>
                </td> <!-- Celda para los botones de acción -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'pyme_create' %}" class="btn btn-primary" style="margin-top: 5%;">Crear Nueva PYME</a>
</div>
{% endblock %}


