{% extends "main/base.html"%}
{% load static %}
{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 5%;">
    <div class="col">
      <div class="card">
        <img src="{% static 'main/img/icons/PYME.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PYMEs</h5>
          <p class="card-text">Este apartado está dedicado a la gestión de PYMEs. Aquí encontrarás herramientas para agregar, editar y eliminar datos de empresas</p>
          <a href="{% url 'pyme_list' %}" class="btn btn-primary" style="float: right;">IR</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'main/img/icons/reportes.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reportes</h5>
          <p class="card-text">En esta sección, se pueden visualizar los reportes de PYMEs generados por los usuarios.</p>
          <a href="{% url 'listar_reportes' %}" class="btn btn-primary" style="float: right;">IR</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}