{% extends "main/base.html" %}
{% load crispy_forms_tags %}  <!-- Carga los tags de crispy forms -->
{% load static %}
{% block content %}
<div class="login-container">
    <h2 class="text-center">Iniciar Sesión</h2>

    <!-- Mostrar los mensajes de error si existen -->
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}  <!-- Renderiza el formulario con crispy -->
        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
        <div class="text-center mt-3">
            <span style="color: black;">No tienes una cuenta? </span>
            <a href="{% url 'registros' %}">Registrarse aquí</a>
        </div>
    </form>
</div>

{% endblock %}
