{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="content">
    <div class="pyme-section">
        <div class="section-title">Lo mejor puntuado</div>
        <div class="pymes-saved">
            <div>
                <img src="{% static 'main/img/images/gym-home.jpeg' %}" alt="GYM en casa">
                <p>GYM en casa</p>
                <a class="btn" href="#">Ver más</a>
            </div>
            <div>
                <img src="{% static 'main/img/images/repair-shop.jpeg' %}" alt="Taller de reparación">
                <p>Taller de reparación de dispositivos móviles</p>
                <a class="btn" href="#">Ver más</a>
            </div>
            <div>
                <img src="{% static 'main/img/images/gym-home.jpeg' %}" alt="GYM en casa">
                <p>GYM en casa</p>
                <a class="btn" href="#">Ver más</a>
            </div>
            <div>
                <img src="{% static 'main/img/images/repair-shop.jpeg' %}" alt="Taller de reparación">
                <p>Taller de reparación de dispositivos móviles</p>
                <a class="btn" href="#">Ver más</a>
            </div>
            <div>
                <img src="{% static 'main/img/images/gym-home.jpeg' %}" alt="GYM en casa">
                <p>GYM en casa</p>
                <a class="btn" href="#">Ver más</a>
            </div>
        </div>
    </div>
    <div class="pyme-section">
        <div class="section-title">Lo más visto</div>
        <div class="pymes-saved">
            <div>
                <img src="{% static 'main/img/images/gym-home.jpeg' %}" alt="GYM en casa">
                <p>GYM en casa</p>
                <a class="btn" href="#">Ver más</a>
            </div>
            <div>
                <img src="{% static 'main/img/images/repair-shop.jpeg' %}" alt="Taller de reparación">
                <p>Taller de reparación de dispositivos móviles</p>
                <a class="btn" href="#">Ver más</a>
            </div>
            <div>
                <img src="{% static 'main/img/images/gym-home.jpeg' %}" alt="GYM en casa">
                <p>GYM en casa</p>
                <a class="btn" href="#">Ver más</a>
            </div>
            <div>
                <img src="{% static 'main/img/images/repair-shop.jpeg' %}" alt="Taller de reparación">
                <p>Taller de reparación de dispositivos móviles</p>
                <a class="btn" href="#">Ver más</a>
            </div>
            <div>
                <img src="{% static 'main/img/images/gym-home.jpeg' %}" alt="GYM en casa">
                <p>GYM en casa</p>
                <a class="btn" href="#">Ver más</a>
            </div>
        </div>
    </div>
    <div class="pyme-section">
        <div class="section-title">Lo más guardado</div>
        <div class="pymes-saved">
            <div>
                <img src="{% static 'main/img/images/gym-home.jpeg' %}" alt="GYM en casa">
                <p>GYM en casa</p>
                <a class="btn" href="#">Ver más</a>
            </div>
            <div>
                <img src="{% static 'main/img/images/repair-shop.jpeg' %}" alt="Taller de reparación">
                <p>Taller de reparación de dispositivos móviles</p>
                <a class="btn" href="#">Ver más</a>
            </div>
            <div>
                <img src="{% static 'main/img/images/gym-home.jpeg' %}" alt="GYM en casa">
                <p>GYM en casa</p>
                <a class="btn" href="#">Ver más</a>
            </div>
            <div>
                <img src="{% static 'main/img/images/repair-shop.jpeg' %}" alt="Taller de reparación">
                <p>Taller de reparación de dispositivos móviles</p>
                <a class="btn" href="#">Ver más</a>
            </div>
            <div>
                <img src="{% static 'main/img/images/gym-home.jpeg' %}" alt="GYM en casa">
                <p>GYM en casa</p>
                <a class="btn" href="#">Ver más</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}