* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-color:rgb(35, 20, 10);
    --bg-color:rgb(115, 85, 65);
    --text-a-color:rgb(255, 235, 185);
    --text-b-color: rgb(115, 85, 65);
    --button-color: rgb(245, 115, 0);
    --button-hover-color: rgb(255, 235, 185);
}

#theme-toggle {
    transition: fill ease;
}

#theme-toggle:hover {
    fill: rgb(255, 235, 185);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-a-color);
    margin: 0;
    padding: 0;
}

body.light-mode {
    --bg-color: rgb(255, 235, 185);
    --text-a-color: rgb(115, 85, 65);
    --text-b-color: rgb(255, 235, 185);
}

.btn {
    background-color: var(--button-color);
    color: rgb(255, 235, 185);
    border: 1px solid var(--button-color);
}

.btn:hover {
    background-color: var(--button-hover-color);
    color: var(--button-color);
    border: 1px solid var(--button-color);
}

.card {
    background-color: var(--text-a-color);
    color: var(--text-b-color);
}

.category-buttons {
    margin-left: 20px;
    margin-top:10px;
    display: inline-block;
}

.category-buttons a {
    color: rgb(255, 235, 185);;
    margin-right: 15px;
    text-decoration: none;
    font-size: 14px;
}

.clickable-icon {
    width: 60px;
    height: 60px;
    cursor: pointer; /* Muestra que es clicable */
}

.container {
    position: relative;
    display: inline-block;
}

.content {
    width: 90%;
    margin: auto;
    padding: 20px;
}

/* Estilos para el apartado de inicio de sesión y registro de usuario*/
.login-container {
    background-color: white; /* Fondo blanco */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto; /* Centrar en la página */
    margin-top: 100px; /* Espacio desde el top */
}

.login-container h2 {
    color: black; /* Color del texto del título */
}

.login-container .btn {
    background-color: var(--button-color); /* Color de fondo del botón */
    border: none; /* Sin borde */
}

.login-container .btn:hover {
    background-color: var(--button-hover-color); /* Color al pasar el ratón sobre el botón */
}

.login-container .form-control {
    border-radius: 5px; /* Bordes redondeados para inputs */
}

.login-container .text-center a {
    color: var(--button-color); /* Color del enlace de registro */
    text-decoration: none;
}

.login-container .text-center a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón sobre el enlace */
}

.logo {
    height:60px;
    object-fit:contain;
}

.logo-left {
    left: 0;
    flex-shrink:0;
    margin-left: 10px;
    margin-right: 10px;
}

.logo-right {
    right: 0;
    flex-shrink:0;
    margin-left: 10px;
    margin-right: 10px;
}

.most-viewed img {
    width: 100%;
}

.most-viewed p {
    font-size: 11px;
    margin: 5px 0;
}

.navbar {
    display: flex;
    justify-content:space-between;
    background-color: var(--nav-color);
    padding: 10px 0;
    align-items: center;
    padding:10px;
}

.profile-options, .config-options {
    display:none;
    position:fixed;
    background-color: var(--nav-color);
    justify-content: center;
    align-items: center;
    width: 50%;
}

.profile-options li, .config-options li {
    padding: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-options button:hover, .config-options button:hover {
    background-color: rgb(255, 235, 185);
}

.pyme-section {
    border: 1px solid var(--text-a-color);
    border-radius: 5px;
    margin-top: 40px;
    padding: 10px;
}

.pymes-saved, .most-viewed {
    display: flex;
    gap: 20px;
}

.pymes-saved div, .most-viewed div {
    background-color: var(--text-a-color);
    color: var(--text-b-color);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.pymes-saved img, .most-viewed img {
    width: 100%;
    height: auto;
}

.search-bar {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top:10px;
    margin-left: 10px;
    padding: 10px 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 500px; /* Limitar el tamaño máximo del área del buscador */
}

.section-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.settings img {
    width: 20px;
    height: 20px;
}
